In [84]:
# dependencies and Setup
import pandas as pd

# load file to pandas
pymoli_file = "/Users/russ/Desktop/Pandas_challenge/HeroesOfPymoli/purchase_data.csv"

# read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(pymoli_file)

In [88]:
# by using len() we cat return the count and hence find number of players
player_count = {"Total players": [len(purchase_data["SN"].value_counts())]}
player_count
pd.DataFrame(player_count)

   Total players
0            576

# Purchasing Analysis (Total)

In [144]:
# basic calculation to obtain unique items, avg price, no of purchases and total revenue
# round function returns output with desired decimal places
# set to a summary dataframe
unique= {"Number of unique items":[len(purchase_data["Item Name"].value_counts())],
                        "Average price": [round(purchase_data["Price"].mean(), 2)],
                        "Number of Purchases": [len(purchase_data)],
                        "Total Revenue": [(purchase_data["Price"].sum())]}
unique_df=pd.DataFrame(unique)
unique_df.style.format({"Average price": "${:,.2f}", 
                                "Total Revenue": "${:,.2f}"})

# Gender demographic

In [123]:
# total player count
player_count=len(purchase_data["SN"].value_counts())
player_count

# groupby() function groups the dataset according to desired column and .get_group() retrieves the desired row
male = purchase_data.groupby(["Gender"]).get_group(("Male"))
count_male = len(male["SN"].value_counts())
male_percent = round(count_male/player_count * 100, 2)
male_percent

female = purchase_data.groupby(["Gender"]).get_group(("Female"))
count_female = len(female["SN"].value_counts())
female_percent = round(count_female/player_count*100,2)

other = purchase_data.groupby(["Gender"]).get_group(("Other / Non-Disclosed"))
count_other = len(other["SN"].value_counts())
other_percent = round(count_other/player_count*100,2)
other_percent

summary = {"Total count": (count_male,count_female,count_other),
                "Percent of Players": [male_percent,female_percent,other_percent],
                "Gender": ["Male","Female","Other"]}
summary1 = pd.DataFrame(summary)
# set_index() function applies indexing to the desired column
# sourced from https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.set_index.html
summary2 = summary1.set_index("Gender") 
summary2["Percent of Players"]=summary2["Percent of Players"].map("{:,.2f}%".format)
summary2

        Total count Percent of Players
Gender
Male            484             84.03%
Female           81             14.06%
Other            11              1.91%

# Purchasing analysis (Gender)

In [142]:
# count all the genders
avg_countmale=len(male)
avg_countfemale=len(female)
avg_countother=len(other)

# get averages for all genders
avg_male = round(male["Price"].sum()/avg_countmale,2)
avg_female = round(female["Price"].sum()/avg_countfemale,2)
avg_other = round(other["Price"].sum()/avg_countother,2)

# sum prices of all genders
avg_ppMale=male["Price"].sum()
avg_ppFemale=female["Price"].sum()
avg_ppOther=other["Price"].sum()

# avg total purchase per person = (totoal purchases/count of each gender player)
avg_totalMale=round(avg_ppMale/count_male,2)
avg_totalFemale=round(avg_ppFemale/count_female,2)
avg_totalOther=round(avg_ppOther/count_other,2)

# create df
pa_summary={"Purchase Count":[avg_countfemale,avg_countmale,avg_countother],
            "Average Purchase Price":[avg_female,avg_male,avg_other],
                "Total Purchase Value":[avg_ppFemale,avg_ppMale,avg_ppOther],
                    "Avg Total Purchase per Person":[avg_totalFemale,avg_totalMale,avg_totalOther],
                        "Gender": ["Male","Female","Other/Non-Disclosed"]}
pa_df=pd.DataFrame(pa_summary)
pa1_df=pa_df.set_index("Gender")
pa1_df.style.format({"Average Purchase Price": "${:,.2f}", 
                                "Total Purchase Value": "${:,.2f}",
                                    "Avg Total Purchase per Person": "${:,.2f}"})

# Age demographics

In [125]:
# create the bins to contain the ages
# resorted to 9.9 instead of 10 while creating ages to avoid "value error"
age_bins = [0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,49.9]
age_labels=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

# append the bin created to the df
purchase_data["Age group"]=pd.cut(purchase_data["Age"],age_bins,labels=age_labels)
purchase_data

# create a df from the appended df above and group it to hold age group column
age_group_data=purchase_data.groupby("Age group")
age_group_data

# get number of unique items from  the df 
# nunique() function counts number of distincts elemenst 
# sourced from https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.nunique.html
age_group_count=age_group_data["SN"].nunique()
age_group_count

# calculate percentage of each age group
age_group_percentage=round((age_group_count/player_count)*100,2)
age_group_percentage

#set the dataframe
ages_summary={"Total count": age_group_count,
                "Percentage of players": age_group_percentage}
ages=pd.DataFrame(ages_summary)
ages["Percentage of players"]=ages["Percentage of players"].map("{:,.2f}%".format)
ages

           Total count Percentage of players
Age group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

# Purchase analysis (Age)

In [126]:
# count purchases by age
purchase_group_count=age_group_data["Purchase ID"].count()

# sum prices by age
purchase_group_sum=age_group_data["Price"].sum()

# calculate averages by age
purchase_group_avg=round(age_group_data["Price"].mean(),2)

# calculate average purchase per person 
purchase_group_avgPP=round(purchase_group_sum/age_group_count,2)

# create df
purchase_analysis={"Purchase count": purchase_group_count,
                    "Average purchase price": purchase_group_avg,
                        "Total purchase value": purchase_group_sum,
                            "Avg total purchase per person": purchase_group_avgPP}
purchase_analysed=pd.DataFrame(purchase_analysis)
purchase_analysed.style.format({"Average purchase price": "${:,.2f}", 
                                "Total purchase value": "${:,.2f}",
                                    "Avg total purchase per person": "${:,.2f}"})

# Top spenders

In [132]:
# group original dataframe by "SN"
top_spenders=purchase_data.groupby("SN")
top_spenders

# count purchases by age
top_spenders_count=top_spenders["SN"].count()
top_spenders_count

# sum prices by age
top_spenders_sum=top_spenders["Price"].sum()
top_spenders_sum

# calculate averages by age
top_spenders_avg=round(top_spenders["Price"].mean(),2)
top_spenders_avg

# create df
top_df={"Purchase count":top_spenders_count,
            "Average purchase price": top_spenders_avg,
                "Total purchase value": top_spenders_sum}
top_df1=pd.DataFrame(top_df)
top_df2=top_df1.sort_values("Total purchase value", ascending=False)
top_df2.head(5).style.format({"Average purchase price": "${:,.2f}", 
                                "Total purchase value": "${:,.2f}"})

# Most popular items

In [131]:
most_popular= purchase_data[["Item ID","Item Name","Price"]]
most_popular

group_most_popular = most_popular.groupby(["Item ID","Item Name"])
group_most_popular

most_popular_purchase = group_most_popular["Price"].count()
most_popular_purchase

most_popular_total = group_most_popular["Price"].sum()
most_popular_total

most_popular_item = round(most_popular_total/most_popular_purchase,2)
most_popular_item

most = {"Purchase count": most_popular_purchase,
            "Item price": most_popular_item,
                "Total purchase value": most_popular_total}
most_df=pd.DataFrame(most)
most_popular_df=most_df.sort_values("Purchase count", ascending=False)
most_popular_df.head(5).style.format({"Item price": "${:,.2f}", 
                                        "Total purchase value": "${:,.2f}"})

# Most profitable items