In [1]:
# dependencies and Setup
import pandas as pd

# load file to pandas
pymoli_file = "/Users/russ/Desktop/Pandas_challenge/HeroesOfPymoli/purchase_data.csv"

# read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(pymoli_file)

In [2]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
# by using len() we cat return the count and hence find number of players
player_count = {"Total players": [len(purchase_data["SN"].value_counts())]}
pd.DataFrame(player_count)

   Total players
0            576

# Purchasing Analysis (Total)

In [4]:
# basic calculation to obtain unique items, avg price, no of purchases and total revenue
# round function returns output with desired decimal places
# set to a summary dataframe table
unique = {"Number of unique items":[len(purchase_data["Item Name"].value_counts())],
                        "Average price": [round(purchase_data["Price"].mean(), 2)],
                        "Number of Purchases": [len(purchase_data)],
                        "Total Revenue": [(purchase_data["Price"].sum())]}
pd.DataFrame(unique)

   Number of unique items  Average price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

# Gender demographic

In [5]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [6]:
# total player count
player_count = 

# groupby() function groups the dataset according to desired column and .get_group() retrieves the desired row
male = purchase_data.groupby(["Gender"]).get_group(("Male"))
count_male = len(male["SN"].value_counts())
male_percent = round((count_male/player_count)*100,2)

female = purchase_data.groupby(["Gender"]).get_group(("Female"))
count_female = len(female["SN"].value_counts())
female_percent = round(count_female/player_count*100,2)

other= purchase_data.groupby(["Gender"]).get_group(("Other / Non-Disclosed"))
count_other = len(other["SN"].value_counts())
other_percent = round(count_other/player_count*100,2)
other_percent

summary = {"Total count": (count_male,count_female,count_other),
                    "Percent of Players": [male_percent,female_percent,other_percent],
                    "Gender": ["Male","Female","Other"]}
summary1 = pd.DataFrame(summary)
# set_index() function applies indexing to the desired column
# sourced from https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.set_index.html
summary2 = summary1.set_index("Gender") 
summary2

TypeError: unsupported operand type(s) for /: 'int' and 'dict'

# Purchasing analysis (Gender)

In [ ]:

avg_countmale=len(male)
avg_countfemale=len(female)
avg_countother=len(other)

avg_male = round(male["Price"].sum()/avg_countmale,2)
avg_female = round(female["Price"].sum()/avg_countfemale,2)
avg_other = round(other["Price"].sum()/avg_countother,2)

avg_ppMale=male["Price"].sum()
avg_ppFemale=female["Price"].sum()
avg_ppOther=other["Price"].sum()

# avg total purchase per person = (totoal purchases/count of each gender player)
avg_totalMale=round(avg_ppMale/count_male,2)
avg_totalFemale=round(avg_ppFemale/count_female,2)
avg_totalOther=round(avg_ppOther/count_other,2)

pa_summary={"Purchase Count":[avg_countfemale,avg_countmale,avg_countother],
            "Average Purchase Price":[avg_female,avg_male,avg_other],
            "Total Purchase Value":[avg_ppFemale,avg_ppMale,avg_ppOther],
            "Avg Total Purchase per Person":[avg_totalFemale,avg_totalMale,avg_totalOther],
            "Gender": ["Male","Female","Other"]}
pa_df=pd.DataFrame(pa_summary)
pa1_df=pa_df.set_index("Gender")
pa1_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Male,113,3.20,361.94,4.47
Female,652,3.02,1967.64,4.07
Other,15,3.35,50.19,4.56

# Age demographics

In [4]:
bins = [0,10,14,15,19,20,24,29,34,39,50]
labels=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
purchase_data

NameError: name 'purchase_data' is not defined